.wrap { max-width: 900px; margin: auto; padding: 0 20px; }
#post-box { width: 500px; border-radius: 5px; }
.card-columns { column-count: 3; }
.ver-badge { background-color: #666; color: #fff; padding: 4px 8px; border-radius: 4px; font-size: 2rem; vertical-align: middle; margin-left: 0.5rem; display: inline-block; }
.btn-edit { background-color: #00A386; color: #fff; }
